# Ignore virtual environment
venv*/
**/__pycache__/

# Ignore datasets
dataset/
workout_frames/
runs/
*.cache
*.pt/

# Ignore model & large files
*.tflite
*.joblib

# Ignore temp files
*.DS_Store
*.mp4
*.jpg
.runtime/
tmp_render_disk/
